{% extends "base.html" %}
{% load static %}




{% block body %}

    <!--=====================================-->
    <!--=   Breadcrumb     Start            =-->
    <!--=====================================-->

        <div class="breadcrumb-wrap breadcrumb-wrap-2">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    <!--=====================================-->
    <!--=   About     Start                 =-->
    <!--=====================================-->

        <section class="about-wrap2">
            <div class="container">
                <div class="row flex-row-reverse flex-lg-row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-img">
                            <img src="{% static 'img/blog/about8.jpg' %}" alt="about" width="746" height="587">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-box3 wow fadeInUp" data-wow-delay=".2s">
                            <span class="item-subtitle">About Us</span>
                            <h2 class="item-title">{{data.about}}.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="about-layout1">
                                        <div class="item-img">
                                            <img src="{% static 'img/figure/shape14.svg' %}" alt="shape" width="60" height="57">
                                        </div>
                                        <h3 class="item-sm-title">Modern Villa</h3>
                                        <p>when unknown printer took galley 
                                            of type and scrambled.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="about-layout1">
                                        <div class="item-img">
                                            <img src="{% static 'img/figure/shape15.svg' %}" alt="shape" width="62" height="57">
                                        </div>
                                        <h3 class="item-sm-title">Secure Payment</h3>
                                        <p>when unknown printer took galley 
                                            of type and scrambled.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row flex-row flex-lg-row-reverse" >
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-layout3">
                            <div class="item-img">
                                <img src="{% static 'img/blog/about9.jpg' %}" alt="about" width="809" height="587">
                                <div class="play-button">
                                    <div class="item-icon">
                                        <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="play-btn play-btn-big">
                                            <span class="play-icon style-2">
                                                <i class="fas fa-play"></i>
                                            </span>
                                        </a>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-layout2">
                            <span class="item-subtitle">Company Power</span>
                            <h2 class="item-title">The Core Company Values Of Our main Goal.</h2>
                            <p>when an unknown printer took a galley of type and scrambled it to make 
                                type specimen bookt has survived.
                            </p>
                            <div class="skills-wrap-layout-2 counter-appear">
                                <div class="single-skill">
                                    <div class="title-bar">
                                        <h4 class="title"> Modern Technology </h4>

                                    </div>
                                    <div class="skill-bar">
                                        <div class="skill-per" data-per="59"></div>
                                    </div>
                                </div>

                                <div class="single-skill">
                                    <div class="title-bar">
                                        <h4 class="title">Tax Solution Area</h4>

                                    </div>
                                    <div class="skill-bar">
                                        <div class="skill-per" data-per="79"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    <!--=====================================-->
    <!--=   Property Banner     Start       =-->
    <!--=====================================-->

        <section class="property-banner-wrap1 parallaxie" data-bg-image="img/banner/banner3.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="property-box1 wow slideInUp" data-wow-delay="100">
                            <div class="item-subtitle">Let’s Take a Tour</div>
                            <h2 class="item-title">Search Property Smarter, Quicker & Anywhere</h2>
                            <div class="play-button">
                                <div class="item-icon">
                                    <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM" class="play-btn">
                                        <span class="play-icon style-1">
                                            <i class="fas fa-play"></i>
                                        </span>
                                        <span class="play-text">Watch Video</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12">
                        <div class="property-img wow fadeInUp" data-wow-delay="100">
                            <div class="bg-title-wrap" style="display: block;">
                                <span class="background-title solid">Property For All</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--=====================================-->
    <!--=   Team     Start                  =-->
    <!--=====================================-->

    <section class="team-wrap1 team-wrap2">
        <div class="container">
            <div class="item-heading-center mb-20">
                <span class="section-subtitle">Expertise Is Here</span>
                <h2 class="section-title">Our Exclusive Agetns</h2>
                <div class="bg-title-wrap" style="display: block;">
                    <span class="background-title solid">Our Agents</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".6s">
                        <div class="item-img">
                            <a href="agent-lists1.html">
                                <img src="{% static 'img/team/team21.png' %}" alt="team" height="240" width="240">
                            </a>
                            <ul class="team-social-1">
                                <li class="social-item">
                                    <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                                            class="fas fa-share-alt"></i></a>
                                    <ul class="team-social-dropdown">
                                        <li class="social-item">
                                            <a href="https://www.facebook.com/" target="_blank" class="social-link">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://twitter.com/" target="_blank" class="social-link">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="category-box">
                                <div class="item-category"><a href="single-agent1.html">08 Listings</a></div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-title">
                                <h3><a href="agent-lists1.html">Andren Willium</a></h3>
                                <h4 class="item-subtitle"><a href="agency-lists1.html">Sunshine</a></h4>
                            </div>
                            <div class="item-contact">
                                <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="item-phn-no">Call: +123 699 7700</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".4s">
                        <div class="item-img">
                            <a href="agent-lists1.html">
                                <img src="{% static 'img/team/team22.png' %}" alt="team" height="240" width="240">
                            </a>
                            <ul class="team-social-1">
                                <li class="social-item">
                                    <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                                            class="fas fa-share-alt"></i></a>
                                    <ul class="team-social-dropdown">
                                        <li class="social-item">
                                            <a href="https://www.facebook.com/" target="_blank" class="social-link">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://twitter.com/" target="_blank" class="social-link">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="category-box">
                                <div class="item-category"><a href="single-agent1.html">05 Listings</a></div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-title">
                                <h3><a href="agent-lists1.html">Polly Matzinger</a></h3>
                                <h4 class="item-subtitle"><a href="agency-lists1.html">Sweet Home</a></h4>
                            </div>
                            <div class="item-contact">
                                <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="item-phn-no">Call: +123 699 7700</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".2s">
                        <div class="item-img">
                            <a href="agent-lists1.html">
                                <img src="{% static 'img/team/team23.png' %}" alt="team" height="240" width="240">
                            </a>
                            <ul class="team-social-1">
                                <li class="social-item">
                                    <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                                            class="fas fa-share-alt"></i></a>
                                    <ul class="team-social-dropdown">
                                        <li class="social-item">
                                            <a href="https://www.facebook.com/" target="_blank" class="social-link">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://twitter.com/" target="_blank" class="social-link">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="category-box">
                                <div class="item-category"><a href="single-agent1.html">11 Listings</a></div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-title">
                                <h3><a href="agent-lists1.html">Patty Watson</a></h3>
                                <h4 class="item-subtitle"><a href="agency-lists1.html">Eco Builders</a></h4>
                            </div>
                            <div class="item-contact">
                                <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="item-phn-no">Call: +123 699 7700</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="team-box1 team-box2 wow fadeInUp" data-wow-delay=".2s">
                        <div class="item-img">
                            <a href="agent-lists1.html">
                                <img src="{% static 'img/team/team24.png' %}" alt="team" height="240" width="240">
                            </a>
                            <ul class="team-social-1">
                                <li class="social-item">
                                    <a href="https://radiustheme.com/" target="_blank" class="social-hover-icon social-link"><i
                                            class="fas fa-share-alt"></i></a>
                                    <ul class="team-social-dropdown">
                                        <li class="social-item">
                                            <a href="https://www.facebook.com/" target="_blank" class="social-link">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://twitter.com/" target="_blank" class="social-link">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="social-item">
                                            <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="category-box">
                                <div class="item-category"><a href="single-agent1.html">06 Listings</a></div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-title">
                                <h3><a href="agent-lists1.html">Andren Willium</a></h3>
                                <h4 class="item-subtitle"><a href="agency-lists1.html">Sarah Boysen</a></h4>
                            </div>
                            <div class="item-contact">
                                <div class="item-icon"><i class="fas fa-phone-alt"></i></div>
                                <div class="item-phn-no">Call: +123 699 7700</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=   Brand     Start                 =-->
    <!--=====================================-->

        <div class="brand-wrap1 brand-wrap2">
            <div class="container">
                <div class="brand-layout swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand1.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand2.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand3.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand4.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand5.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand6.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand1.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand2.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand3.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand4.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand5.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand6.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand1.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand2.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-box2 wow fadeInUp" data-wow-delay=".4s">
                                <div class="item-img">
                                    <a href="index.html"><img src="{% static 'img/brand/brand3.svg' %}" alt="brand"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--=====================================-->
    <!--=   Newsletter     Start            =-->
    <!--=====================================-->

        <section class="newsletter-wrap1">
            <div class="shape-img1">
                <img src="{% static 'img/figure/shape13.png' %}" alt="figure" width="356" height="130">
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="newsletter-layout1">
                            <div class="item-heading">
                                <h2 class="item-title">Sign up for newsletter </h2>
                                <h3 class="item-subtitle">Get latest news and update</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="newsletter-form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter e-mail addess">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="button">Subscribe</button>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!--=====================================-->
    <!--=   Footer     Start                =-->
    <!--=====================================-->

{% endblock body %}