{% extends "base.html" %} 
{% load static%}
{% load django_bootstrap5 %}
{% block body %}




    <!--=====================================-->
    <!--=   Breadcrumb     Start            =-->
    <!--=====================================-->

        <div class="breadcrumb-wrap">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
            </div>
        </div>
    <!--=====================================-->
    <!--=   Account     Start               =-->
    <!--=====================================-->

    <main class="site-main content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12">
                    <div class="page-content-block">
                        <div class="col-md-12 rtcl-login-form-wrap">
                            <h2>Change Password</h2>
                            <form class="user-form" method='post'>
                                    {% csrf_token %}
                                    {% bootstrap_form form %}

                                    <div class="form-button">
                                        {% bootstrap_button class='btn' button_type="submit" content="OK" style="background-color: var(--rt-primary-color); border-color: var(--rt-primary-color);" %}
                                        {% bootstrap_button button_type="reset" content="Cancel" style="background-color: var(--rt-primary-color); border-color: var(--rt-primary-color);" %}
                                        <br>
                                        <p>Forgot your password? <a href="{% url 'password_reset' %}" style="color: var(--rt-primary-color);">reset here</a></p>
                                    </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
       

{% endblock body %}
