

{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title> RealEsate </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon Start Here -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon-homlisti.svg">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <!-- Bootstrap Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Animate Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Owl Carousel Start Here -->
    <link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owlcarousel/owl.theme.default.min.css' %}">
    <!-- Swiper Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
    <!-- Flaticon Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/flaticon/font/flaticon.css' %}">
    <!-- Select Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <!-- Animate Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Pop Up Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- All min Css Start Here -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <!-- Pannellum -->
    <link rel="stylesheet" href="{% static 'css/pannellum.css' %}">
    <!-- Style Css Start Here -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Google Font Start Here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body class="sticky-header">
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!--=====================================-->
    <!--=   Preloader     Start             =-->
    <!--=====================================-->
    <div id="preloader"></div>
    <!--=====================================-->
    <!--=   Preloader     End               =-->
    <!--=====================================-->
    <div class="wrapper" id="wrapper">
    <!--=====================================-->
    <!--=   Header     Start                =-->
    <!--=====================================-->

    <header class="rt-header sticky-on">
        <div id="sticky-placeholder"></div>
        <div id="navbar-wrap" class="header-menu menu-layout1 header-menu menu-layout3">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-area">
                            <a href="/" class="temp-logo">
                                <img src="{% static 'img/logo.svg' %}" width="157" height="40" alt="logo" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-flex justify-content-center position-static">
                        <nav id="dropdown" class="template-main-menu template-main-menu-3">
                            <ul>
                                <li>
                                    <a href="/" class = "active">Home</a>
                                    
                                </li>
                                <li>
                                    <a href="{% url 'about' %}" class="">About</a>
                                </li>
                                <li>
                                    <a href="with-sidebar2.html">Property</a>
                                    <ul class="dropdown-menu-col-1">
                                        
                                        <li>
                                            <a href="{% url 'property:property_list'%}">Properties List</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="agent-lists1.html">Agents</a>
                                    <ul class="dropdown-menu-col-1">
                                        <li>
                                            <a href="agent-lists1.html">Agent List Page</a>
                                        </li>
                                        <li>
                                            <a href="agency-lists1.html">Agencies List Page</a>
                                        </li>
                                        <li>
                                            <a href="single-agent1.html">Single Agent Page</a>
                                        </li>
                                        <li>
                                            <a href="single-agency1.html">Single Agency Page</a>
                                        </li>
                                    </ul>
                                </li>
                               
                              
                                <li>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-xl-4 col-lg-4 d-flex justify-content-end">
                        <div class="header-action-layout1">
                            <ul class="action-list">
                                <li class="action-item-style left-right-btn">
                                    <a href="compare.html" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Compare">
                                        <i class="flaticon-left-and-right-arrows icon-round"></i>
                                        <div class="item-count">0</div>
                                    </a>
                                </li>
                                <li class="action-item-style wish-btn">
                                    <a href="favourite.html" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Favourites">
                                        <i class="flaticon-heart icon-round"></i>
                                        <div class="item-count">0</div>
                                    </a>
                                </li>
                                <li class="action-item-style my-account">
                                    <a href="account.html" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Sign In">
                                        <i class="flaticon-user-1 icon-round"></i>
                                    </a>
                                </li>
                                <li class="listing-button">
                                    <a href="hhhh" class="listing-btn">
                                        <span>
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                        <span class="item-text">Add Property</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div
            class="rt-header-menu mean-container position-relative"
            id="meanmenu">
            <div class="mean-bar">
                <a href="index.html">
                    <img src='{% static 'img/logo_light2.svg' %}' alt='logo' class='img-fluid'/>
                </a>
                <div class="mean-bar--right">
                    <div class="actions search">
                        <a href="#template-search" class="item-icon" title="Search">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div class="actions user">
                        <a href="account.html"><i class="flaticon-user"></i></a>
                    </div>
                    <span class="sidebarBtn">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>
                </div>
            </div>
            <div class="rt-slide-nav">
                <div class="offscreen-navigation">
                    <nav class="menu-main-primary-container">
                        <ul class="menu">
                            <li class="list menu-item-parent menu-item-has-children">
                                <a class="animation" href="index.html">Home</a>
                                <ul class="main-menu__dropdown sub-menu">
                                    <li><a href="index.html">Home 01</a></li>
                                    <li><a href="index2.html">Home 02</a></li>
                                    <li><a href="index3.html">Home 03</a></li>
                                    <li><a href="index4.html">Home 04</a></li>
                                    <li><a href="index5.html">Home 05</a></li>
                                </ul>
                            </li>
                            <li class="list menu-item-parent menu-item-has-children">
                                <a class="animation" href="with-sidebar2.html">Listing</a>
                                <ul class="main-menu__dropdown sub-menu">
                                    <li>
                                        <a href="half-map1.html">Properties Map Grid</a>
                                    </li>
                                    <li>
                                        <a href="half-map2.html">Properties Map List</a>
                                    </li>
                                    <li>
                                        <a href="without-sidebar.html">Properties Full Width</a>
                                    </li>
                                    <li>
                                        <a href="with-sidebar.html">Properties Grid</a>
                                    </li>
                                    <li>
                                        <a href="single-listing1.html">Single Property 1</a>
                                    </li>
                                    <li>
                                        <a href="single-listing2.html">Single Property 2</a>
                                    </li>
                                    <li>
                                        <a href="single-listing3.html">Single Property 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list menu-item-parent menu-item-has-children">
                                <a class="animation" href="index.html">Pages</a>
                                <ul class="main-menu__dropdown sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="404.html">Error page</a></li>
                                    <li>
                                        <a href="with-sidebar.html">Properties Grid</a>
                                    </li>
                                    <li><a href="without-sidebar.html">Properties Full Width</a></li>
                                    <li><a href="single-agency1.html">Single Agency page</a></li>
                                    <li><a href="single-agent1.html">Single-agent page</a></li>
                                    <li><a href="pricing-1.html">Pricing page</a></li>
                                </ul>
                            </li>
                            <li class="list menu-item-parent menu-item-has-children">
                                <a class="animation" href="index.html">Blog</a>
                                <ul class="main-menu__dropdown sub-menu">
                                    <li><a href="blog1.html">Blog 1</a></li>
                                    <li><a href="blog2.html">Blog 2</a></li>
                                    <li><a href="blog-details1.html">Blog Details Page</a></li>
                                </ul>
                            </li>
                            <li class="list menu-item-parent menu-item-has-children">
                                <a class="animation" href="index.html">Agents</a>
                                <ul class="main-menu__dropdown sub-menu">
                                    <li><a href="agency-lists1.html">Agency List page</a></li>
                                    <li><a href="agent-lists1.html">Agent List Page</a></li>
                                    <li><a href="agent-reviews1.html">Agent Reviews Page</a></li>
                                </ul>
                            </li>
                            <li class="list menu-item-parent">
                                <a class="animation" href="contact.html">Contact us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    

    











    {% block body %}
    
    {% endblock body %}












    <!--=====================================-->
    <!--=   Footer     Start                =-->
    <!--=====================================-->

        <footer class="footer-area">
            <div class="footer-top footer-top-style">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-logo-area footer-logo-area-2">
                                <div class="item-logo">
                                    <img src="{% static 'img/logo_light.svg' %}" width="157" height="40" alt="logo" class="img-fluid">
                                </div>
                                <p>{{company_data.about}}
                                </p>
                                <div class="item-social">
                                    <ul>
                                        {% for link in social_media %}
                                            <li><a href="{{link.account_link}}" target="_blank">
                                                <i class="fab fa-{{ link.account_name }}"></i>

                                            </a></li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                            <div class="footer-link footer-link-style-2">
                                <div class="footer-title footer-title-style2">
                                    <h3>Quick Links</h3>
                                </div>
                                <div class="item-link">
                                    <ul>
                                        <li><a href="about-1.html">About Us </a></li>
                                        <li><a href="blog-details1.html">Blogs & Articles </a></li>
                                        <li><a href="about-1.html">Terms & Conditions</a></li>
                                        <li><a href="about-1.html">Privacy Policy </a></li>
                                        <li><a href="contact.html">Contact Us </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-insta">
                                <div class="footer-title footer-title-style2">
                                    <h3>Instagram</h3>
                                </div>
                                <div class="insta-link">
                                    <ul>
                                        <li>
                                            <div class="item-img">
                                                <a href="https://www.instagram.com/" class="insta-pic">
                                                    <img src="{% static 'img/instagram/insta1.jpg' %}" width="86" height="73"
                                                        alt="instagram">
                                                </a>
                                                <div class="item-overlay">
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-img">
                                                <a href="https://www.instagram.com/" class="insta-pic">
                                                    <img src="{% static 'img/instagram/insta2.jpg' %}" width="86" height="73"
                                                        alt="instagram">
                                                </a>
                                                <div class="item-overlay">
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-img">
                                                <a href="https://www.instagram.com/" class="insta-pic">
                                                    <img src="{% static 'img/instagram/insta3.jpg' %}" width="86" height="73"
                                                        alt="instagram">
                                                </a>
                                                <div class="item-overlay">
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-img">
                                                <a href="https://www.instagram.com/" class="insta-pic">
                                                    <img src="{% static 'img/instagram/insta4.jpg' %}" width="86" height="73"
                                                        alt="instagram">
                                                </a>
                                                <div class="item-overlay">
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-img">
                                                <a href="https://www.instagram.com/" class="insta-pic">
                                                    <img src="{% static 'img/instagram/insta5.jpg' %}" width="86" height="73"
                                                        alt="instagram">
                                                </a>
                                                <div class="item-overlay">
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-img">
                                                <a href="https://www.instagram.com/" class="insta-pic">
                                                    <img src="{% static 'img/instagram/insta6.jpg' %}" width="86" height="73"
                                                        alt="instagram">
                                                </a>
                                                <div class="item-overlay">
                                                    <a href="https://www.instagram.com/" target="_blank">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-contact footer-contact-style-2">
                                <div class="footer-title footer-title-style2">
                                    <h3>Contact</h3>
                                </div>
                                <div class="footer-location">
                                    <ul>
                                        <li class="item-map"><i class="fas fa-map-marker-alt"></i>{{company_data.location}}</li>
                                        <li><a href="{{company_data.email}}"><i class="fas fa-envelope"></i>{{company_data.email}}</a></li>
                                                             {% for call in phone %}
                                            <li><a href="tel:+{{call}}"><i class="fas fa-phone-alt"></i>+{{call}}</a></li>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom footer-bottom-style-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright-area1">
                                <ul>
                                    <li><a href="about-1.html">Terms of Use</a></li>
                                    <li><a href="about-1.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright-area2">
                                <p>2024© All rightre served by Mohamed Abdelmonem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- start back to top -->
        <a href="javascript:void(0)" id="back-to-top">
            <i class="fas fa-angle-double-up"></i>
        </a>
        <!-- End back to top -->

    </div>
    <div id="template-search" class="template-search">
        <button type="button" class="close">×</button>
        <form class="search-form">
          <input type="search" value="" placeholder="Search" />
          <button type="submit" class="search-btn btn-ghost style-1">
            <i class="flaticon-search"></i>
          </button>
        </form>
    </div>

    <!-- Jquery Start Here -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- Popper Js Start Here -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap Js Start Here -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>



    <!-- Wow Js Start Here -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Owl Carousel Js Start Here -->
    <script src="{% static 'vendor/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>
    <!-- Pop up Js Start Here -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Nice Select Js Start Here -->
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <!-- Parallaxie Js Start Here -->
    <script src="{% static 'js/parallaxie.js' %}"></script>
    <!-- Tween Js Start Here -->
    <script src="{% static 'js/tween-max.js' %}"></script>
    <!-- Appear Js Start Here -->
    <script src="{% static 'js/appear.min.js' %}"></script>
    <!-- Isotope Js Start Here -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- Imagesloaded Js Start Here -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- noUiRangeSlider -->
    <script src="{% static 'vendor/noUiSlider/nouislider.min.js' %}"></script>
    <script src="{% static 'vendor/noUiSlider/wNumb.js' %}"></script>
    <!-- Validator Slider -->
    <script src="{% static 'js/validator.min.js' %}"></script>
    <!-- Pannellum  -->
    <script src="{% static 'js/pannellum.js' %}"></script>
    <!-- Zoom Image  -->
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>

    <!-- Main Js Start Here -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>